.pets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 246, 246, 1);
    padding: 80px 40px 100px;

}

.pets-title {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: center;
    width: 400px;
    color: rgba(84, 84, 84, 1);
    padding-bottom: 60px;

}

.pets-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

}

.pet-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 45px;
    background-color: white;
}

.pet-card:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    transition: 0.3s;
}

.pets-card-name {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.72px;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 30px 0;

}

.pets-card-btn {
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    background-color: white;
    text-align: center;
    width: 187px;
    height: 52px;
    border: 2px solid rgba(241, 205, 179, 1);
    border-radius: 25px;
    margin-bottom: 30px;
    cursor: pointer;
}

.pets-card-btn:hover {
    background-color: rgba(253, 220, 196, 1);
}

.pets-card-btn:active {
    background-color: rgba(241, 205, 179, 1)
}

.slider-btn {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    opacity: 0px;
    border: 2px solid rgba(241, 205, 179, 1);
    background-color: none;
    cursor: pointer;

}

.slider-btn:hover {
    background-color: rgba(253, 220, 196, 1);
    transition: 0.3s;
}

.slider-btn:active {
    background-color: rgba(241, 205, 179, 1);
    transition: 0.3s;
}

.pets-btn {
    width: 261px;
    height: 52px;
    gap: 10px;
    border-radius: 25px;
    opacity: 0px;
    background-color: rgba(241, 205, 179, 1);
    color: rgba(41, 41, 41, 1);
    border: none;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
}

.pets-btn:hover {
    background-color: rgba(253, 220, 196, 1);
    transition: 0.3s;
}

.pets-btn:active {
    background-color: rgba(241, 205, 179, 1);
    transition: 0.3s;
}