.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px ;
    flex-wrap: wrap;

}

.navigate {
    display: flex;
    justify-content: space-between;
    width: 443px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    align-items: center;
    color: rgba(84, 84, 84, 1);
    scroll-behavior: smooth;

}
.nav-menu {
    display: flex;
    justify-content: space-between;
    width: 443px;
}

.nav-link {
    color: rgba(84, 84, 84, 1);
}
.nav-link1{
    color: rgba(84, 84, 84, 1);
    border-bottom: 3px solid rgba(241, 205, 179, 1);
    padding-bottom: 3px;
}

.nav-link:hover {
    color: rgba(41, 41, 41, 1);
    transition: 0.3ms;
}
.nav-link:active{
    color: rgba(84, 84, 84, 1);
    transition: 0.3ms;
    border-bottom: 3px solid rgba(241, 205, 179, 1);
    padding-bottom: 3px;
}

.logo_title {
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    text-align: left;
    color: rgba(84, 84, 84, 1);
    padding-bottom: 10px;
    
}

.logo_subtitle {
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 14.95px;
    text-align: left;
    color: rgba(84, 84, 84, 1);
    padding-left: 4px;
}